@import "tailwindcss";

:root {
  --background: #101022;
  --white: #fff;

  --blue: #2929da;
  --blue-2: #232348;
  --blue-dark: #18182c;
  --foreground: #171717;

  --light-gray: #262b36;
  --dark-gray: #1a1a1c;
  --text-light: #9ca3af;

  --white-05: #ffffff05;
  --white-10: #ffffff10;
}

body {
  background-color: var(--background);
  color: var(--white);
  font-family: var(--font-inter), sans-serif;
  scrollbar-gutter: stable;
}

.custom-select .ant-select-selector {
  background: var(--blue-dark) !important;
  color: var(--white) !important;
  border-color: var(--light-gray) !important;
}

.ant-select-dropdown {
  background: var(--blue-dark) !important;
  color: var(--white) !important;
}

.ant-select-item-option-content {
  color: var(--white) !important;
}
