@import "tailwindcss";

:root {
  --background: #101022;
  --white: #fff;

  --blue: #2929da;
  --blue-dark: #16164b;
  --foreground: #171717;

  --light-gray: #262b36;
  --dark-gray: #1a1a1c;
  --text-light: #9ca3af;

  --white-05: #ffffff05;
  --white-10: #ffffff10;
}

body {
  background-color: var(--background);
  color: var(--white);
  font-family: var(--font-inter), sans-serif;
}
