@import "tailwindcss";

:root {
  --blue: #3777e1;
  --blue-dark: #192c4c;
  --background: #101722;
  --foreground: #171717;

  --light-gray: #262b36;
  --text-light: #9ca3af;

  --white: #fff;
}

body {
  background-color: var(--background);
  color: var(--white);
}
